*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(103, 6, 74);
    color: white;
    text-align: center;
    padding: 40px 20px;
    font-size: 1.5em;
}

.players {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.player1, .player2 {
    background-color: gainsboro;
    height: 130px;
    padding: 30px;
    border-radius: 20px;
    margin: 20px 10px;
}

h2 {
    padding: 5px;
    font-size: 1.8em;
}

p {
    padding: 5px;
    text-align: center;
    margin: 10px 0;
    font-weight: 900;
    font-size: 1.8em;
    margin-bottom: 4%;
}

button {
    height: 3vw;
    width: 5vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

#start-game {display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 7vh;
    margin: 20px auto;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    list-style-type: none;
    gap: 10px;
}

#game-board li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(178, 208, 206);
    background-color: rgb(178, 208, 206);
    width: 100px;
    height: 100px;
}

.display-result {
    text-align: center;
    margin-top: 20px;
}

.boxtext {
    font-size: 2em;
}

#celebration-img {
    margin-left: 44%;
    margin-top: 12px;
}